In [1]:
import sqlite3
from sqlite3 import Error

import pandas as pd

In [2]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()
    
if __name__ == '__main__':
    create_connection(r"C:\DataScience\Project_Internship\final\python_sqlite.db")

2.6.0

In [3]:
db = "trends.db"
create_connection(db)

2.6.0

In [4]:
df = pd.read_csv("lang_name.csv")

In [5]:
df.head()

     Name  Unnamed: 1
0  Python         NaN
1       C         NaN
2     C++         NaN
3    Java         NaN
4      C#         NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        41 non-null     object
 1   Unnamed: 1  0 non-null      float64
dtypes: float64(1), object(1)
memory usage: 784.0+ bytes

In [7]:
df.drop(columns=['Unnamed: 1'], inplace=True)

In [8]:
lst = df.columns.values

In [9]:
lst

array(['Name'], dtype=object)

In [10]:
conn = sqlite3.connect(db, timeout=30)
c = conn.cursor()

c.execute ('''CREATE TABLE IF NOT EXISTS languages(id integer PRIMARY KEY AUTOINCREMENT,name text NOT NULL);''')

for item in df:
    c.execute("INSERT INTO languages (name) VALUES(?)",(item,))
    conn.commit()
c.execute ("SELECT * FROM languages")
rows = c.fetchall()
for row in rows:
    print (row)
    
conn.close

(1, 'Name')